/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; background-color: #fafafa;}
.icon-card{
    background-image: url('/assets/icons/card.png');
    background-size: cover;
}
.icon-dog{
    background-image: url('/assets/icons/dog.png');
    background-size: cover;
}
.icon-monkey{
    background-image: url('/assets/icons/monkey.png');
    background-size: cover;
}
.icon-pc{
    background-image: url('/assets/icons/pc.png');
    background-size: cover;
}
.icon-pencil{
    background-image: url('/assets/icons/pencil.png');
    background-size: cover;
}